[submodule "services/sr_auth_api"]
	path = services/sr_auth_api
	url = https://github.com/eronryabets/sr_auth_api.git
[submodule "services/sr_user_api"]
	path = services/sr_user_api
	url = https://github.com/eronryabets/sr_user_api.git
[submodule "services/frontend"]
	path = services/frontend
	url = https://github.com/eronryabets/frontend.git
[submodule "services/book_api"]
	path = services/book_api
	url = https://github.com/eronryabets/book_api.git
[submodule "services/translator_api"]
	path = services/translator_api
	url = https://github.com/eronryabets/translator_api.git
