[submodule "services/sr_auth_api"]
	path = services/sr_auth_api
	url = https://github.com/eronryabets/sr_auth_api.git
[submodule "services/sr_user_api"]
	path = services/sr_user_api
	url = https://github.com/eronryabets/sr_user_api.git
[submodule "services/frontend"]
	path = services/frontend
	url = https://github.com/eronryabets/frontend.git
[submodule "services/text_api"]
	path = services/text_api
	url = https://github.com/eronryabets/text_api.git
